div {
    display: block;
}
.category-search {
    display: flex;
    flex-direction: column;
    @include tablet {
    flex-flow: row wrap;
    }
    @include desktop {
    flex-flow: row wrap;
    }
}
.category-search li {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    @include tablet {
    width: 50%;
    }
    @include desktop {
    width: 25%;
    }
}
.abstract {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    height: 0;
    transition: height 0.2s linear;
    overflow-y: hidden;
}

li:hover .abstract {
    height: 30%
}

.article-image {
    display: flex;
    height: 400px;
    background-size: cover;
    background-position: center center;
    @include tablet {
    flex-direction: row wrap;
    }
}

a {
    cursor: pointer;
    color: #fff;
    font-style: none;
    width: 100%;
}

.error-message {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -6rem;
}