// $breakpoints: (phone: 640px, 
//                tablet: 768px, 
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
// }

// @include media(">tablet", "<950px") {
// }

html {
    font-family: $open-sans;
    font-size: $main-fs;
    color: $main-white;
    background: $background-color;
}
* {
    box-sizing: border-box;
    outline:none;
}