// Loading Gif

.loader {
    display: absolute;
    right: 10%;
    display: none;
    width: auto;
    height: 100px;
    padding-top: 20px;
}

// Default Header Style

header {
    display: flex;
    height: auto;
    max-width: 600px;
}
.site-header {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    height: 90vh;
    @include tablet {
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: none;
    }
    @include desktop {
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: none;
    }
}
.shrunk-site-header {
        height: 65vh;
    @include tablet {
        height: 30vh;
    }
    @include desktop {
        height: 30vh;
    }
}

.inner-section {
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    position: relative;
}


// NYT Image

.default-logo {
        height: auto;
}
.articles-logo {
    @include tablet {
        height: 100px;
    }
    @include desktop {
        height: 100px;
    }
}
// Drop Down List

.choose-section {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
}
.options {
    font-size: 1.8rem;
    padding: 2rem 2rem;
}