// Loading Gif

.loading-gif {
    display: flex;
    display: none;
}

.loader {
    width: auto;
    height: 100px;
    align-self: center;
}

header {
    display: flex;
    height: auto;
    max-width: 600px;
}

.section-container {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    padding: 25px;
    width: 100%;

    @include tablet {
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: none;
    }
    @include desktop {
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: none;
    }
}
.inner-section-container {
    flex-flow: column wrap;
    vertical-align: baseline;
}

form {
    position: relative;
}

// NYT Image

.nyt-logo {
    display: flex;
    align-self: center;
    height: auto;

    @include tablet {
        height: 100px;
    }
    @include desktop {
        height: 100px;}
}

// Drop Down List

.choose-section {
    padding: 0.5rem 0;
}
.logo {
    text-align: center;
}
.options {
    padding: 1rem 1rem;
}

