// Breakpoints
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Sizing
@mixin container {
    margin: 0 auto;
    text-align: center;
    max-width: 1600px;
}

