// Module Widths

$tablet-width: 600px; 
$desktop-width: 1000px; 

// Text-Colors:
$main-white: #fff;
$copyright-color: #c2c2c2;

// Fonts:
$open-sans: 'Open-Sans', sans-serif;
$open-bold: bold;
$open-italic: italic;

// Font-Size:
$main-fs: 16px;

// Background: 
$background-color: #000;

